Repository fabscale/ember-cognito-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser json --write

.lintstagedrc:

{
  "**/*.js": ["prettier --write", "git add"],
  "**/*.json": ["prettier --parser json --write", "git add"],
  "**/*.scss": ["prettier --write", "git add"]
}

test: Improve matrix testing on CI
  .github/workflows/ember.yml
  package.json
Due: prettier --parser json --write

chore(deps-dev): bump node from 10.16.3 to 12.13.0
  package.json
Due: prettier --parser json --write

chore(deps-dev): bump yarn from 1.19.0 to 1.19.1
  package.json
Due: prettier --parser json --write

chore: Fix prettier issues for new prettier version
  app/components/cognito-error.js
  app/components/cognito-login-form.js
  app/components/cognito-password-input.js
  app/components/cognito-reset-password-form.js
  app/components/cognito-reset-password-form/select-username.js
  app/components/cognito-reset-password-form/update-password.js
  app/components/cognito-text-input.js
Due: prettier --write

feat: Add typing for global-polyfill
  addon/instance-initializers/global-polyfill.ts
Due: none

feat: Add typing for cognito service
  addon/services/cognito.ts
Due: none

feat: Add typing for errors/cognito
  addon/errors/cognito.ts
  addon/services/cognito.ts
Due: none

feat: Add typing for all components
  addon/components/cognito-login-form.ts
  addon/components/cognito-password-input.ts
  addon/components/cognito-reset-password-form.ts
  addon/components/cognito-reset-password-form/select-username.ts
  addon/components/cognito-reset-password-form/update-password.ts
  addon/components/cognito-text-input.ts
Due: none

fix: Remove isDevelopingAddon hook to speed up host app builds
  index.js
Due: prettier --write

refactor: Setup ember-cli-typescript
  addon/errors/cognito.ts
  addon/instance-initializers/global-polyfill.ts
  package.json
  tests/dummy/app/config/environment.d.ts
  tsconfig.json
  types/dummy/index.d.ts
  types/global.d.ts
  yarn.lock
Due: prettier --parser json --write

feat: Do not pass in `cognitoData` to `onAuthenticated` hook
  addon/services/cognito.ts
Due: none

Release 0.7.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: bump @glimmer/component & @glimmer/tracking @ 1.0.0-beta.3
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --parser json --write

chore: WIP temporarily remove TS prepublish hook
  package.json
Due: prettier --parser json --write

Release 0.8.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

feat: Throw InvalidPasswordError for InvalidParameterException
  addon/errors/cognito.ts
Due: none

chore(deps-dev): bump yarn from 1.19.1 to 1.21.1
  package.json
Due: prettier --parser json --write

chore(deps-dev): bump node from 12.13.0 to 12.13.1
  package.json
Due: prettier --parser json --write

chore: Rename Github Actions
  .github/workflows/ember-cli-code-coverage.yml
  .github/workflows/test.yml
Due: none

fix: fix template linting issues
  blueprints/cognito-login-route/files/__root__/__name__/template.hbs
  tests/dummy/app/login/template.hbs
Due: none

chore: run ember-cli-update for 3.15.0
  .npmignore
  README.md
  package.json
  tests/dummy/app/app.js
  tests/dummy/app/resolver.js
  tests/dummy/config/optional-features.json
Due: prettier --write, prettier --parser json --write

chore(deps-dev): re-run `yarn` to clean up lockfile
  yarn.lock
Due: none

Release 0.9.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore(ci): Update to actions-ember-testing v2
  .github/workflows/ember-cli-code-coverage.yml
  .github/workflows/test.yml
Due: none

Release 0.9.1
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

feat: Add refreshAccessToken method to service
  addon/services/cognito.ts
Due: none

feat: Auto-refresh access tokens every 45 minutes
  .eslintignore
  addon/services/cognito.ts
  tsconfig.json
  types/dummy/index.d.ts
Due: prettier --parser json --write

Release 0.10.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: Explicitly state constructor super arguments
  addon/components/cognito-password-input.ts
  addon/components/cognito-reset-password-form.ts
  addon/components/cognito-reset-password-form/select-username.ts
  addon/components/cognito-reset-password-form/update-password.ts
  addon/components/cognito-text-input.ts
Due: none

fix: Fix typescript setup
  package.json
  tsconfig.json
Due: prettier --parser json --write

chore: Run yarn tsc on CI to ensure types are correct
  .github/workflows/test.yml
Due: none

Release 0.10.1
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

fix: Ensure refresh access token task is cancelled when logging out
  addon/services/cognito.ts
Due: none

Release 0.10.2
  CHANGELOG.md
  package.json
Due: prettier --parser json --write
