Repository fabscale/ember-cognito-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser json --write

test: Setup Github ember test action
  .github/workflows/ember.yml
  .npmignore
Due: none

test: Do not require env variables in test environment
  config/dotenv.js
Due: prettier --write

fix: Use set for setup-cognito-mocks test helper
  addon-test-support/pretender/index.js
  tests/helpers/setup-cognito-mocks.js
Due: prettier --write

Release 0.2.4
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

fix: Ensure restoreAndLoad does nothing if session is already loaded
  addon/services/cognito.js
  tests/acceptance/test-helpers-test.js
Due: prettier --write

Release 0.2.5
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

feat: Ensure pretender is not included in production builds
  index.js
Due: prettier --write

Release 0.3.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

feat: Allow to customize new attributes for setNewPassword
  addon/components/cognito-login-form/component.js
  addon/services/cognito.js
  tests/acceptance/login-test.js
Due: prettier --write

chore: Setup Volta
  .github/workflows/ember.yml
  package.json
Due: prettier --parser json --write

Release 0.4.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore(deps-dev): bump ember-cli from 3.12.0 to 3.13.1
  .npmignore
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps): bump yarn from 1.17.3 to 1.19.0
  package.json
Due: prettier --parser json --write

Revert "chore(deps): bump ember-cli-htmlbars from 3.1.0 to 4.0.2"
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: Only run dependabot once a week
  .dependabot/config.yml
Due: none

chore: Remove husky
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): remove explicit ember-cli-htmlbars-inline-precompile dep
  package.json
  yarn.lock
Due: prettier --parser json --write

Release 0.4.1
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: Remove travis config
  .travis.yml
Due: none

feat: Use co-location component setup (requires ember-source>3.13!)
  .ember-cli.js
  .eslintrc.js
  addon/components/cognito-error.hbs
  addon/components/cognito-error/component.js
  addon/components/cognito-login-form.hbs
  addon/components/cognito-login-form.js
  addon/components/cognito-password-input.hbs
  addon/components/cognito-password-input.js
  addon/components/cognito-reset-password-form.hbs
  addon/components/cognito-reset-password-form.js
  addon/components/cognito-reset-password-form/select-username.hbs
  addon/components/cognito-reset-password-form/select-username.js
  addon/components/cognito-reset-password-form/update-password.hbs
  addon/components/cognito-reset-password-form/update-password.js
  addon/components/cognito-text-input.hbs
  addon/components/cognito-text-input.js
  app/components/cognito-error.js
  app/components/cognito-error/component.js
  app/components/cognito-login-form.js
  app/components/cognito-login-form/component.js
  app/components/cognito-password-input.js
  app/components/cognito-password-input/component.js
  app/components/cognito-reset-password-form/component.js
  app/components/cognito-reset-password-form/index.js
  app/components/cognito-reset-password-form/select-username.js
  app/components/cognito-reset-password-form/select-username/component.js
  app/components/cognito-reset-password-form/update-password.js
  app/components/cognito-reset-password-form/update-password/component.js
  app/components/cognito-reset-pasword-form.js
  app/components/cognito-text-input.js
  app/components/cognito-text-input/component.js
  package.json
  tests/dummy/config/optional-features.json
  tests/integration/components/cognito-password-input-test.js
Due: prettier --write, prettier --parser json --write

feat: Use @tracked() instead of computed()
  addon-test-support/helpers/mock-cognito.js
  addon-test-support/pretender/index.js
  addon/components/cognito-password-input.js
  addon/services/cognito.js
Due: prettier --write

feat: Use @glimmer/component instead of @ember/component
  README.md
  addon/components/cognito-login-form.js
  addon/components/cognito-password-input.js
  addon/components/cognito-reset-password-form.js
  addon/components/cognito-reset-password-form/select-username.hbs
  addon/components/cognito-reset-password-form/select-username.js
  addon/components/cognito-reset-password-form/update-password.hbs
  addon/components/cognito-reset-password-form/update-password.js
  addon/components/cognito-text-input.js
  package.json
  yarn.lock
Due: prettier --write, prettier --parser json --write

Release 0.5.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

refactor: Streamline app re-export paths
  app/components/cognito-reset-password-form.js
Due: prettier --write

fix: Remove unneeded file
  app/components/cognito-reset-pasword-form.js
Due: prettier --write

feat: Import amazon-cognito-identity-js instead of using global
  addon/instance-initializers/global-polyfill.js
  addon/services/cognito.js
  app/instance-initializers/global-polyfill.js
  index.js
Due: prettier --write

Release 0.6.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

test: Update Github Actions config
  .github/workflows/ember.yml
Due: none

test: Add code coverage checks for PRs
  .github/workflows/ember-cli-code-coverage.yml
  package.json
Due: prettier --parser json --write

test: Avoid running code coverage on dependabot PRs
  .github/workflows/ember-cli-code-coverage.yml
Due: none

test: Fix tests for small changes in amazon-cognito-identity-js API
  tests/acceptance/login-test.js
  tests/acceptance/reset-password-test.js
Due: prettier --write

test: Avoid running code coverage for dependabot PRs
  .github/workflows/ember-cli-code-coverage.yml
Due: none

test: Improve matrix testing on CI
  .github/workflows/ember.yml
  package.json
Due: prettier --parser json --write

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.scss)
  prettier --parser json --write: any of: **/*.json
