Repository fabscale/ember-cognito-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser json --write

chore: Pin dev dependencies with ~ to prevent ember-try issues
  package.json
  yarn.lock
Due: prettier --parser json --write

test: Add ember-source@3.13 to test matrix
  .github/workflows/test.yml
  config/ember-try.js
Due: prettier --write

chore: Fix linting issues caused by ember-template-lint@2
  .editorconfig
  blueprints/cognito-login-route/files/__root__/__name__/template.hbs
  blueprints/cognito-reset-password-route/files/__root__/__name__/template.hbs
  tests/dummy/app/index/template.hbs
  tests/dummy/app/login/template.hbs
  tests/dummy/app/reset-password/template.hbs
Due: none

feat: Drop default components
  README.md
  app/components/cognito-error.js
  app/components/cognito-login-form.js
  app/components/cognito-password-input.js
  app/components/cognito-reset-password-form.js
  app/components/cognito-reset-password-form/select-username.js
  app/components/cognito-reset-password-form/update-password.js
  app/components/cognito-text-input.js
  blueprints/cognito-login-route/files/__root__/__name__/template.hbs
  blueprints/cognito-login-route/index.js
  blueprints/cognito-reset-password-route/files/__root__/__name__/template.hbs
  blueprints/cognito-reset-password-route/index.js
  tests/dummy/app/components/cognito-error.hbs
  tests/dummy/app/components/cognito-login-form.hbs
  tests/dummy/app/components/cognito-login-form.ts
  tests/dummy/app/components/cognito-password-input.hbs
  tests/dummy/app/components/cognito-password-input.ts
  tests/dummy/app/components/cognito-reset-password-form.hbs
  tests/dummy/app/components/cognito-reset-password-form.ts
  tests/dummy/app/components/cognito-reset-password-form/select-username.hbs
  tests/dummy/app/components/cognito-reset-password-form/select-username.ts
  tests/dummy/app/components/cognito-reset-password-form/update-password.hbs
  tests/dummy/app/components/cognito-reset-password-form/update-password.ts
  tests/dummy/app/components/cognito-text-input.hbs
  tests/dummy/app/components/cognito-text-input.ts
  tests/integration/components/cognito-password-input-test.js
Due: prettier --write

chore: Delete duplicate @glimmer/component dependency
  package.json
Due: prettier --parser json --write

Release 0.11.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

fix: Ensure to use RSVPPromise everywhere
  addon/services/cognito.ts
Due: none

chore: Use official new GH Volta action
  .github/workflows/ember-cli-code-coverage.yml
  .github/workflows/test.yml
Due: none

chore: Do not test ember-source@3.13 on CI
  .github/workflows/test.yml
Due: none

chore: Ensure CI jobs are cancelled after 5 minutes
  .github/workflows/ember-cli-code-coverage.yml
  .github/workflows/test.yml
Due: none

chore!: Drop support for ember-source@3.13
  README.md
  config/ember-try.js
Due: prettier --write

Release 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

refactor: Rename to ember-cognito-identity
  README.md
  addon-test-support/pretender/login.js
  addon/services/cognito.ts
  app/instance-initializers/global-polyfill.js
  app/services/cognito.js
  package.json
  tests/acceptance/login-test.js
  tests/acceptance/remember-authentication-test.js
  tests/acceptance/reset-password-test.js
  tests/acceptance/test-helpers-test.js
  tests/dummy/app/components/cognito-login-form.ts
  tests/dummy/app/components/cognito-reset-password-form.ts
  tests/unit/services/cognito-test.js
  tsconfig.json
  types/global.d.ts
Due: prettier --write, prettier --parser json --write

chore: Ensure CI runs for ember-source@3.16
  .github/workflows/test.yml
Due: none

chore: bump node support to >= 12
  README.md
  package.json
Due: prettier --parser json --write

chore: Publish to default npm registry
  package.json
Due: prettier --parser json --write

docs: Update readme
  README.md
Due: none

Release 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: Ensure prettier is run for TS files
  addon/errors/cognito.ts
  addon/instance-initializers/global-polyfill.ts
  package.json
  tests/dummy/app/components/cognito-login-form.ts
Due: prettier --parser json --write

improvement: Ensure ExpiredCodeException is handled properly
  addon/errors/cognito.ts
  tests/acceptance/reset-password-test.js
Due: prettier --write

feat: Handle resetting password for inactive user
  addon/errors/cognito.ts
  tests/unit/errors/cognito-test.ts
Due: none

Release 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

fix: Remove duplicate lib inclusion
  index.js
  package.json
Due: prettier --write, prettier --parser json --write

Release 1.2.1
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

Release 1.2.2
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: Run dependabot monthly
  .dependabot/config.yml
Due: none

Release 1.3.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: Remove dummy types for ember-concurrency
  types/dummy/index.d.ts
Due: none

improvement: Allow to specify custom `endpoint` for user pool
  addon/services/cognito.ts
Due: none

feat: Allow to specify custom `endpoint` for user pool
  addon/services/cognito.ts
Due: none

Release 1.4.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: Run tests against embroider
  .github/workflows/test.yml
  config/ember-try.js
  ember-cli-build.js
Due: prettier --write

chore(deps-dev): bump node & yarn to latest LTS
  package.json
Due: prettier --parser json --write

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.scss)
  prettier --parser json --write: any of: **/*.json
