Repository fabscale/ember-cognito-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser json --write

Allow customization of login/reset-password forms via yielded components
  .ember-cli
  addon/components/cognito-login-form/component.js
  addon/components/cognito-login-form/template.hbs
  addon/components/cognito-password-input/component.js
  addon/components/cognito-password-input/template.hbs
  addon/components/cognito-reset-password-form/component.js
  addon/components/cognito-reset-password-form/select-username/component.js
  addon/components/cognito-reset-password-form/select-username/template.hbs
  addon/components/cognito-reset-password-form/template.hbs
  addon/components/cognito-reset-password-form/update-password/component.js
  addon/components/cognito-reset-password-form/update-password/template.hbs
  addon/components/cognito-text-input/component.js
  addon/components/cognito-text-input/template.hbs
  addon/styles/addon.css
  app/components/cognito-password-input/component.js
  app/components/cognito-reset-password-form/select-username/component.js
  app/components/cognito-reset-password-form/update-password/component.js
  app/components/cognito-text-input/component.js
  tests/dummy/app/login/template.hbs
  tests/dummy/app/reset-password/template.hbs
Due: prettier --write

Add initial tests for login
  addon/components/cognito-error/template.hbs
  addon/components/cognito-reset-password-form/component.js
  addon/errors/cognito.js
  addon/services/cognito.js
  ember-cli-build.js
  package.json
  tests/acceptance/login-test.js
  tests/dummy/app/login/template.hbs
  tests/helpers/create-jwt-token.js
  tests/helpers/setup-cognito-mocks.js
  yarn.lock
Due: prettier --write, prettier --parser json --write

Add tests for authentication cache
  addon/services/cognito.js
  tests/acceptance/remember-authentication-test.js
  tests/helpers/setup-cognito-mocks.js
Due: prettier --write

Add tests for reset password
  addon/components/cognito-reset-password-form/select-username/template.hbs
  addon/errors/cognito.js
  tests/acceptance/reset-password-test.js
  tests/dummy/app/reset-password/template.hbs
Due: prettier --write

Update npmignore
  .npmignore
Due: none

Remove hardcoded required attributes
  addon/services/cognito.js
  tests/acceptance/login-test.js
Due: prettier --write

Add basic test helpers
  README.md
  addon-test-support/helpers/create-jwt-token.js
  addon-test-support/helpers/mock-cognito.js
  addon-test-support/pretender/index.js
  addon-test-support/pretender/login.js
  addon-test-support/pretender/reset-password.js
  package.json
  tests/acceptance/login-test.js
  tests/acceptance/remember-authentication-test.js
  tests/acceptance/reset-password-test.js
  tests/acceptance/test-helpers-test.js
Due: prettier --write, prettier --parser json --write

Add blueprints & docs
  README.md
  addon/components/cognito-login-form/template.hbs
  addon/components/cognito-reset-password-form/component.js
  addon/components/cognito-reset-password-form/template.hbs
  addon/services/cognito.js
  blueprints/cognito-login-route/files/__root__/__name__/template.hbs
  blueprints/cognito-login-route/index.js
  blueprints/cognito-reset-password-route/files/__root__/__name__/template.hbs
  blueprints/cognito-reset-password-route/index.js
Due: prettier --write

Add invalidateAccessTokens method
  README.md
  addon/services/cognito.js
Due: prettier --write

Add instructions for setup to readme
  README.md
Due: none

Add updateAttributes method
  addon/errors/cognito.js
  addon/services/cognito.js
  tests/unit/services/cognito-test.js
Due: prettier --write

Add tests for password input
  README.md
  addon/components/cognito-password-input/template.hbs
  addon/components/cognito-text-input/component.js
  package.json
  tests/integration/components/cognito-password-input/component-test.js
  yarn.lock
Due: prettier --write, prettier --parser json --write

Ensure pretender can be used in other packages
  package.json
Due: prettier --parser json --write

Fix template linting issues
  .template-lintrc.js
  addon/components/cognito-password-input/template.hbs
  addon/components/cognito-reset-password-form/template.hbs
Due: prettier --write

Update ember-cli@3.11.0
  .eslintrc.js
  .travis.yml
  config/ember-try.js
  package.json
  yarn.lock
Due: prettier --write, prettier --parser json --write

Use tasks for forms & expose isPending
  addon/components/cognito-login-form/component.js
  addon/components/cognito-login-form/template.hbs
  addon/components/cognito-reset-password-form/component.js
  addon/components/cognito-reset-password-form/template.hbs
  package.json
  yarn.lock
Due: prettier --write, prettier --parser json --write

chore: Install release-it
  .release-it.json
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: Ensure it is private to prevent npm publish
  package.json
Due: prettier --parser json --write

docs: Update readme
  README.md
Due: none

Release 0.1.0
  package.json
Due: prettier --parser json --write

chore: Setup release-it to auto-create changelog
  .release-it.json
  package.json
  yarn.lock
Due: prettier --parser json --write

Release 0.1.1
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: add dependabot config
  .dependabot/config.yml
Due: none

chore: Use conventional commits config for changelog generation
  .release-it.json
Due: prettier --parser json --write

chore: update eslint config & fix linting issues
  .eslintrc.js
  addon-test-support/helpers/create-jwt-token.js
  addon-test-support/helpers/mock-cognito.js
  addon-test-support/pretender/index.js
  addon-test-support/pretender/login.js
  addon/components/cognito-login-form/component.js
  addon/components/cognito-password-input/component.js
  addon/components/cognito-reset-password-form/component.js
  addon/components/cognito-reset-password-form/select-username/component.js
  addon/components/cognito-reset-password-form/update-password/component.js
  addon/services/cognito.js
  package.json
  testem.js
  tests/acceptance/login-test.js
  tests/acceptance/remember-authentication-test.js
  tests/acceptance/reset-password-test.js
  tests/acceptance/test-helpers-test.js
  tests/helpers/setup-cognito-mocks.js
  tests/test-helper.js
  tests/unit/services/cognito-test.js
  yarn.lock
Due: prettier --write, prettier --parser json --write

feat: convert all classes to native ES6 class syntax
  .eslintrc.js
  addon/components/cognito-error/component.js
  addon/components/cognito-login-form/component.js
  addon/components/cognito-password-input/component.js
  addon/components/cognito-password-input/template.hbs
  addon/components/cognito-reset-password-form/component.js
  addon/components/cognito-reset-password-form/select-username/component.js
  addon/components/cognito-reset-password-form/update-password/component.js
  addon/components/cognito-text-input/component.js
  addon/components/cognito-text-input/template.hbs
  addon/services/cognito.js
  package.json
  tests/dummy/app/app.js
  tests/dummy/app/application/route.js
  tests/dummy/app/index/controller.js
  tests/dummy/app/index/route.js
  tests/dummy/app/login/route.js
  tests/dummy/app/reset-password/controller.js
  tests/dummy/app/reset-password/route.js
  tests/dummy/app/router.js
  yarn.lock
Due: prettier --write, prettier --parser json --write

chore: use angular style for changelog
  .release-it.json
Due: prettier --parser json --write

Release 0.2.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: Setup Github Packages
  package.json
Due: prettier --parser json --write

chore: Update .npmignore
  .npmignore
Due: none

chore: Ensure package is not private
  package.json
Due: prettier --parser json --write

Release 0.2.1
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

docs: Update import paths in readme
  README.md
Due: none

fix: Update module import paths for new package name
  addon-test-support/pretender/login.js
  addon/components/cognito-login-form/component.js
  addon/components/cognito-password-input/component.js
  addon/services/cognito.js
  app/components/cognito-error/component.js
  app/components/cognito-login-form/component.js
  app/components/cognito-password-input/component.js
  app/components/cognito-reset-password-form/component.js
  app/components/cognito-reset-password-form/select-username/component.js
  app/components/cognito-reset-password-form/update-password/component.js
  app/components/cognito-text-input/component.js
  app/services/cognito.js
  tests/acceptance/login-test.js
  tests/acceptance/remember-authentication-test.js
  tests/acceptance/reset-password-test.js
  tests/acceptance/test-helpers-test.js
  tests/unit/services/cognito-test.js
Due: prettier --write

Release 0.2.2
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

docs: update installation path
  README.md
Due: none

Update license & package.json
  LICENSE.md
  package.json
Due: prettier --parser json --write

chore: Remove empty licence field on package.json
  package.json
Due: prettier --parser json --write

Release 0.2.3
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

test: Fix ember-try config & ensure tests don't need .env file
  config/ember-try.js
  tests/dummy/config/environment.js
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.scss)
  prettier --parser json --write: any of: **/*.json
