Repository fabscale/ember-cognito-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser json --write

fix: Actually refresh token based on expiring date
  README.md
  addon/services/cognito.ts
  addon/utils/get-token-refresh-wait.ts
  addon/utils/mock/cognito-user-session.ts
  addon/utils/mock/cognito-user.ts
  tests/acceptance/remember-authentication-test.ts
  tests/unit/utils/get-token-refresh-wait-test.ts
Due: none

Release 3.2.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore(deps-dev): bump webpack from 5.41.1 to 5.47.1
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump @typescript-eslint/parser from 4.28.1 to 4.28.5
  yarn.lock
Due: none

chore(deps-dev): bump ember-template-lint from 3.5.0 to 3.5.1
  yarn.lock
Due: none

chore: Make dependabot ignore patch versions
  .github/dependabot.yml
Due: none

chore(deps-dev): bump release-it from 14.10.1 to 14.11.5
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump @typescript-eslint/parser from 4.28.5 to 4.29.1
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps): bump @ember/test-waiters from 2.4.5 to 3.0.0
  package.json
  yarn.lock
Due: prettier --parser json --write

Release 3.3.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore(deps-dev): bump @typescript-eslint/eslint-plugin
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump webpack from 5.50.0 to 5.53.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump ember-cli from 3.27.0 to 3.28.0
  README.md
  ember-cli-build.js
  package.json
  tests/dummy/config/ember-cli-update.json
  yarn.lock
Due: prettier --write, prettier --parser json --write

chore(deps-dev): bump eslint-plugin-prettier from 3.4.0 to 4.0.0
  package.json
  yarn.lock
Due: prettier --parser json --write

feat: add `logoutForce` method to allow to handle inconsistent state
  addon/services/cognito.ts
Due: none

chore(deps-dev): Run yarn
  yarn.lock
Due: none

Release 3.4.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: Extend CI timeout time
  .github/workflows/test.yml
Due: none

chore: Update node & yarn to latest
  package.json
Due: prettier --parser json --write

chore(deps-dev): bump release-it-lerna-changelog from 3.1.0 to 4.0.1
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump @typescript-eslint/parser from 4.32.0 to 4.33.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump @embroider/test-setup from 0.45.0 to 0.47.1
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump ember-modifier from 2.1.2 to 3.0.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump ember-page-title from 6.2.2 to 7.0.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump eslint-plugin-qunit from 6.2.0 to 7.0.0
  package.json
  tests/acceptance/login-test.ts
  tests/acceptance/remember-authentication-test.ts
  tests/acceptance/reset-password-test.ts
  tests/unit/errors/cognito-test.ts
  tests/unit/services/cognito-test.ts
  tests/unit/utils/get-token-refresh-wait-test.ts
  yarn.lock
Due: prettier --parser json --write

Release 3.5.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: Use fabscale-eslint-config
  .eslintrc.js
  package.json
  tests/dummy/app/components/cognito-login-form.ts
  yarn.lock
Due: prettier --write, prettier --parser json --write

chore(deps-dev): Update dev dependencies
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: Use `Object.assign` instead of `assign`
  addon-test-support/helpers/create-jwt-token.ts
Due: none

chore(deps-dev): bump eslint from 8.3.0 to 8.6.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): Run `npx ember-cli-update`
  .eslintignore
  .eslintrc.js
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .gitignore
  .npmignore
  .prettierignore
  README.md
  config/ember-try.js
  package.json
  tests/dummy/config/ember-cli-update.json
  tests/dummy/config/targets.js
  yarn.lock
Due: prettier --write, prettier --parser json --write

feat: Ensure licence is correctly MIT
  LICENSE.md
  package.json
Due: prettier --parser json --write

Release 3.6.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore(deps): bump @embroider/macros from 0.49.0 to 0.50.2
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps): Make @babel/eslint-parser a devDependency
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): Bump eslint & typescript deps
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps): bump amazon-cognito-identity-js from 5.0.3 to 5.2.4
  package.json
  yarn.lock
Due: prettier --parser json --write

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.scss)
  prettier --parser json --write: any of: **/*.json
