Repository fabscale/ember-cognito-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser json --write

chore(deps-dev): bump release-it from 14.6.2 to 14.7.0
  package.json
  yarn.lock
Due: prettier --parser json --write

Release 2.1.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: Update release-it config to use PRs
  .github/dependabot.yml
  .release-it.json
  package.json
  yarn.lock
Due: prettier --parser json --write

fix: Update default Pretender config for tests to pass through everything
  addon-test-support/pretender/index.js
Due: prettier --write

Release 2.2.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

refactor: Refactor authentication code for better code separation
  addon/services/cognito.ts
Due: none

chore: bump browserlist data
  yarn.lock
Due: none

refactor: Extract user data/attribute loading into util
  addon/services/cognito.ts
  addon/utils/user-data.ts
Due: none

refactor: Directly return `waitForPromise` for better error handling
  addon/services/cognito.ts
Due: none

fix: Fix mocked cognito payload
  addon-test-support/pretender/login.js
Due: prettier --write

refactor: Move cognito promise wrappers into util functions
  addon/services/cognito.ts
  addon/utils/cognito/authenticate-user.ts
  addon/utils/cognito/get-user-data.ts
  addon/utils/cognito/get-user-session.ts
  addon/utils/cognito/global-sign-out.ts
  addon/utils/cognito/refresh-access-token.ts
  addon/utils/cognito/set-new-password.ts
  addon/utils/cognito/trigger-reset-password-mail.ts
  addon/utils/cognito/update-password.ts
  addon/utils/cognito/update-reset-password.ts
  addon/utils/cognito/update-user-attributes.ts
  addon/utils/get-user-attributes.ts
  addon/utils/load-user-data-and-access-token.ts
Due: none

chore: Use `@embroider/macros` to check for test environment
  addon/services/cognito.ts
  package.json
  yarn.lock
Due: prettier --parser json --write

refactor: Improve promise function signatures
  addon/utils/cognito/authenticate-user.ts
  addon/utils/cognito/get-user-data.ts
  addon/utils/cognito/get-user-session.ts
  addon/utils/cognito/global-sign-out.ts
  addon/utils/cognito/refresh-access-token.ts
  addon/utils/cognito/set-new-password.ts
  addon/utils/cognito/trigger-reset-password-mail.ts
  addon/utils/cognito/update-password.ts
  addon/utils/cognito/update-reset-password.ts
Due: none

feat: Allow to setup & use MFA authentication
  README.md
  addon-test-support/helpers/mock-cognito.ts
  addon-test-support/pretender/login.js
  addon/errors/cognito.ts
  addon/services/cognito.ts
  addon/utils/cognito-mfa.ts
  addon/utils/cognito/associate-software-token.ts
  addon/utils/cognito/authenticate-user.ts
  addon/utils/cognito/send-mfa-code.ts
  addon/utils/cognito/set-user-mfa-preference.ts
  addon/utils/cognito/verify-software-token.ts
  addon/utils/load-user-data-and-access-token.ts
  addon/utils/mfa-qr-code.ts
  package.json
  tests/acceptance/login-test.js
  tests/acceptance/mfa-test.js
  tests/acceptance/test-helpers-test.js
  tests/dummy/app/components/.gitkeep
  tests/dummy/app/components/cognito-login-form.hbs
  tests/dummy/app/components/cognito-login-form.ts
  tests/dummy/app/components/mfa-setup.hbs
  tests/dummy/app/components/mfa-setup.ts
  tests/dummy/app/index/controller.js
  tests/dummy/app/index/template.hbs
  tests/dummy/app/login/template.hbs
  tests/dummy/app/modifiers/mfa-qr-code.ts
  yarn.lock
Due: prettier --write, prettier --parser json --write

Release 2.3.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

feat: Export `mockCognitoData` test helper
  README.md
  addon-test-support/helpers/mock-cognito-data.ts
  addon-test-support/helpers/mock-cognito.ts
Due: none

feat: Expose `authenticateUser` method to check password
  addon/services/cognito.ts
Due: none

Release 2.4.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

fix: Ensure token is continuously refreshed, not just once
  addon/services/cognito.ts
Due: none

chore: Remove pretender
  addon-test-support/pretender/index.js
  addon-test-support/pretender/login.js
  addon-test-support/pretender/reset-password.js
  index.js
  package.json
  yarn.lock
Due: prettier --write, prettier --parser json --write

feat: Refactor test helpers from pretender to mocked classes
  README.md
  addon-test-support/helpers/mock-cognito-data.ts
  addon-test-support/helpers/mock-cognito.ts
  addon/services/cognito.ts
  addon/utils/mock/cognito-data.ts
  addon/utils/mock/cognito-user-pool.ts
  addon/utils/mock/cognito-user-session.ts
  addon/utils/mock/cognito-user.ts
  index.js
  package.json
  tests/acceptance/login-test.js
  tests/acceptance/login-test.ts
  tests/acceptance/mfa-test.ts
  tests/acceptance/remember-authentication-test.js
  tests/acceptance/remember-authentication-test.ts
  tests/acceptance/reset-password-test.js
  tests/acceptance/reset-password-test.ts
  tests/acceptance/test-helpers-test.js
  tests/dummy/app/components/mfa-setup.ts
  tests/dummy/app/instance-initializers/mock-cognito.ts
  tests/unit/services/cognito-test.js
  tests/unit/services/cognito-test.ts
Due: prettier --write, prettier --parser json --write

chore: Handle config inconsistencies in dummy apps in Embroider
  tests/acceptance/login-test.ts
  tests/acceptance/mfa-test.ts
  tests/acceptance/remember-authentication-test.ts
  tests/acceptance/reset-password-test.ts
  tests/helpers/.gitkeep
  tests/helpers/get-mock-config.ts
  yarn.lock
Due: none

chore: Ensure eslint works nicely with typescript
  .eslintrc.js
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier --write, prettier --parser json --write

chore: Fix eslint setup & linting issues
  .eslintrc.js
  addon-test-support/helpers/create-jwt-token.ts
  addon-test-support/helpers/mock-cognito.ts
  addon/errors/cognito.ts
  addon/services/cognito.ts
  addon/utils/cognito/update-user-attributes.ts
  addon/utils/mfa-qr-code.ts
  addon/utils/mock/cognito-data.ts
  addon/utils/mock/cognito-user-pool.ts
  addon/utils/mock/cognito-user-session.ts
  addon/utils/mock/cognito-user.ts
  config/dotenv.js
  tests/acceptance/reset-password-test.ts
  tests/dummy/app/application/route.ts
  tests/dummy/app/components/cognito-login-form.ts
  tests/dummy/app/components/cognito-password-input.ts
  tests/dummy/app/components/cognito-reset-password-form.ts
  tests/dummy/app/components/cognito-reset-password-form/select-username.ts
  tests/dummy/app/components/cognito-reset-password-form/update-password.ts
  tests/dummy/app/components/cognito-text-input.ts
  tests/dummy/app/components/mfa-setup.ts
  tests/dummy/app/index/controller.js
  tests/dummy/app/index/controller.ts
  tests/dummy/app/index/route.ts
  tests/dummy/app/login/route.ts
  tests/dummy/config/environment.js
Due: prettier --write

chore: Make timing-based tests more resilient
  tests/acceptance/remember-authentication-test.ts
Due: none

chore(deps-dev): bump release-it from 14.9.0 to 14.10.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump webpack from 5.38.1 to 5.41.1
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: Ensure test helpers file is picked up by TS
  package.json
  tests/dummy/app/config/environment.d.ts
  tests/test-helper.ts
Due: prettier --parser json --write

Release 3.0.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

fix: Fix default `enableMocks` config
  index.js
Due: prettier --write

Release 3.0.1
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore(deps): bump @embroider/macros from 0.42.0 to 0.43.0
  package.json
  yarn.lock
Due: prettier --parser json --write

Release 3.0.2
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: Fix readme
  README.md
Due: none

chore: Remove old mockCognito test helper
  addon-test-support/helpers/mock-cognito.ts
Due: none

feat: Add `mockCognitoLogoutCurrentUser` test helper
  addon-test-support/helpers/mock-cognito.ts
Due: none

Release 3.1.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

fix: Do not require userPoolId config to be set when mocks are enabled
  addon/services/cognito.ts
Due: none

Release 3.1.1
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

fix: Ensure JWT token is actually updated when refreshing the session
  addon/services/cognito.ts
Due: none

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.scss)
  prettier --parser json --write: any of: **/*.json
