Repository fabscale/ember-cognito-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser json --write

.lintstagedrc:

{
  "**/*.js": ["prettier --write", "git add"],
  "**/*.json": ["prettier --parser json --write", "git add"],
  "**/*.scss": ["prettier --write", "git add"]
}

feat: Ensure better type safety
  addon/errors/cognito.ts
  addon/services/cognito.ts
  tests/dummy/app/components/cognito-login-form.ts
  tests/dummy/app/components/cognito-reset-password-form.ts
  tests/dummy/app/components/cognito-reset-password-form/select-username.ts
  tests/dummy/app/components/cognito-reset-password-form/update-password.ts
  tsconfig.json
Due: prettier --parser json --write

Release 1.5.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

fix: Ensure restoreAndLoad rejects if not signed in
  addon/errors/cognito.ts
  addon/services/cognito.ts
  tests/unit/services/cognito-test.js
Due: prettier --write

Release 1.5.1
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore(deps-dev): Update dev dependencies
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps): explicitly bump dependencies to latest versions
  addon/services/cognito.ts
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump all dev dependencies to latest versions
  package.json
  yarn.lock
Due: prettier --parser json --write

fix: Ensure `restoreAndLoad` properly throws CognitoNotAuthenticatedError
  addon/services/cognito.ts
Due: none

chore: Run prettier on all files
  addon-test-support/pretender/index.js
  tests/dummy/app/components/cognito-reset-password-form/select-username.ts
  tests/dummy/app/components/cognito-reset-password-form/update-password.ts
Due: prettier --write

Release 1.5.2
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: WIP Disable IE11 tests on CI
  tests/dummy/config/targets.js
Due: prettier --write

chore(deps-dev): bump all type definitions
  yarn.lock
Due: none

chore(ci): Fix embroider tests on CI
  .github/workflows/test.yml
  config/ember-try.js
  ember-cli-build.js
  package.json
  yarn.lock
Due: prettier --write, prettier --parser json --write

chore(deps-dev): bump all dependencies in-range
  yarn.lock
Due: none

chore(deps-dev): Remove @types/qunit
  package.json
  yarn.lock
Due: prettier --parser json --write

refactor: Use @ember/test-waiters instead of ember-test-waiters
  addon/services/cognito.ts
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: Fix type issue with Cognito SDK
  addon/services/cognito.ts
  tests/acceptance/remember-authentication-test.js
Due: prettier --write

chore(deps): bump amazon-cognito-identity-js from 4.5.8 to 4.5.9
  package.json
  yarn.lock
Due: prettier --parser json --write

refactor: Refactor some test methods to typescript
  addon-test-support/helpers/create-jwt-token.ts
  addon-test-support/helpers/mock-cognito.ts
Due: none

refactor: Stop using computed property
  addon/services/cognito.ts
Due: none

chore: Minor typescript improvements
  tests/dummy/app/components/cognito-password-input.ts
  tests/dummy/app/components/cognito-text-input.ts
Due: none

Release 1.5.3
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

feat(deps)!: Bump ember-concurrency from 1.x to 2.x
  addon/services/cognito.ts
  package.json
  tests/dummy/app/components/cognito-login-form.ts
  tests/dummy/app/components/cognito-reset-password-form.ts
  yarn.lock
Due: prettier --parser json --write

Release 1.5.4
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

feat(refactor)!: Drop `onAuthenticated()` and `onUnauthenticated()` hooks
  README.md
  addon/services/cognito.ts
  tests/dummy/app/components/cognito-login-form.ts
  tests/dummy/app/components/cognito-reset-password-form.ts
  tests/dummy/app/index/controller.js
  tests/unit/services/cognito-test.js
Due: prettier --write

Release 2.0.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore(deps-dev): bump release-it from 14.4.1 to 14.5.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump eslint from 7.21.0 to 7.23.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump @ember/test-helpers from 2.2.3 to 2.2.5
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump typescript from 4.2.2 to 4.2.3
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: Fix template linting issues
  tests/dummy/app/components/cognito-login-form.hbs
  tests/dummy/app/components/cognito-login-form.ts
  tests/dummy/app/components/cognito-password-input.hbs
  tests/dummy/app/components/cognito-reset-password-form.hbs
  tests/dummy/app/components/cognito-reset-password-form/select-username.hbs
  tests/dummy/app/components/cognito-reset-password-form/select-username.ts
  tests/dummy/app/components/cognito-reset-password-form/update-password.hbs
  tests/dummy/app/components/cognito-reset-password-form/update-password.ts
  tests/dummy/app/components/cognito-text-input.hbs
  tests/dummy/app/index/template.hbs
  tests/dummy/app/reset-password/template.hbs
Due: none

chore(deps-dev): bump eslint-config-prettier from 8.1.0 to 8.3.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: Fix deprecations in dummy app
  tests/dummy/app/index/route.js
  tests/dummy/app/login/route.js
Due: prettier --write
