Repository fabscale/ember-cognito-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser json --write

.lintstagedrc:

{
  "**/*.js": ["prettier --write", "git add"],
  "**/*.json": ["prettier --parser json --write", "git add"],
  "**/*.scss": ["prettier --write", "git add"]
}

chore(deps-dev): Update dev dependencies to latest
  package.json
  yarn.lock
Due: prettier --parser json --write

Release 3.7.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore(deps-dev): bump @types/ember-qunit from 3.4.15 to 5.0.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: Fix type usage for ember v4 types
  addon/services/cognito.ts
  tests/acceptance/login-test.ts
  tests/acceptance/mfa-test.ts
  tests/acceptance/remember-authentication-test.ts
  tests/acceptance/reset-password-test.ts
  tests/unit/services/cognito-test.ts
Due: none

chore(deps-dev): bump @embroider/test-setup from 0.50.2 to 1.0.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump webpack from 5.66.0 to 5.68.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump ember-modifier from 3.0.0 to 3.1.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: Explicitly add @babel/core as dependency to make peerDeps happy
  package.json
  yarn.lock
Due: prettier --parser json --write

Release 3.8.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore(deps-dev): bump typescript from 4.5.4 to 4.6.2
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump @babel/eslint-parser from 7.16.5 to 7.17.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump ember-cli from 4.1.0 to 4.2.0
  .github/workflows/ci.yml
  CONTRIBUTING.md
  config/ember-try.js
  package.json
  tests/dummy/config/ember-cli-update.json
  tests/dummy/config/environment.js
  yarn.lock
Due: prettier --write, prettier --parser json --write

fix: Remove unneeded CSS from addon
  addon/styles/addon.css
  tests/dummy/app/styles/app.css
Due: none

Release 3.8.1
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

feat: Expose `getAccessToken` and `getIdToken` on `cognitoData`
  README.md
  addon/services/cognito.ts
  addon/utils/load-user-data-and-access-token.ts
  addon/utils/mock/cognito-data.ts
  addon/utils/mock/cognito-user-session.ts
Due: none

chore(deps-dev): bump fabscale-eslint-config from 1.2.0 to 1.4.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump node & yarn to latest in-range
  package.json
Due: prettier --parser json --write

feat: Allow to configure `authenticationFlowType`
  README.md
  addon/services/cognito.ts
Due: none

chore: Update tsconfig
  addon/services/cognito.ts
  addon/utils/cognito/update-user-attributes.ts
  tests/dummy/app/application/route.ts
  tests/dummy/app/components/cognito-login-form.ts
  tests/dummy/app/components/cognito-reset-password-form.ts
  tests/dummy/app/components/mfa-setup.ts
  tests/dummy/app/index/controller.ts
  tests/dummy/app/index/route.ts
  tests/dummy/app/login/route.ts
  tests/unit/services/cognito-test.ts
  tsconfig.json
Due: prettier --parser json --write

chore(deps-dev): bump @ember/test-helpers from 2.6.0 to 2.7.0
  package.json
  yarn.lock
Due: prettier --parser json --write

Release 3.8.2
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore(deps-dev): bump @babel/core from 7.17.10 to 7.18.2
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump @babel/eslint-parser from 7.17.0 to 7.18.2
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump ember-cli from 4.3.0 to 4.4.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump ember-source from 4.3.0 to 4.4.1
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump ember-template-lint from 4.6.0 to 4.10.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump @ember/test-helpers from 2.7.0 to 2.8.1
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump @embroider/test-setup from 1.6.0 to 1.7.1
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump eslint from 8.14.0 to 8.16.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump prettier from 2.5.1 to 2.6.1
  yarn.lock
Due: none

chore(deps-dev): bump qunit from 2.18.0 to 2.19.0
  yarn.lock
Due: none

chore(deps-dev): bump typescript from 4.6.2 to 4.7.2
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(deps-dev): bump @typescript-eslint/parser from 5.22.0 to 5.27.0
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: Remove ember-cli-code-coverage action
  .github/workflows/ember-cli-code-coverage.yml
Due: none

chore: Setup auto-merging for dependabot patch & minor PRs
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: Update dependabot/fetch-metadata
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: Fix auto merge config
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore(deps-dev): update release-it to 15.x
  .release-it.json
  package.json
  yarn.lock
Due: prettier --parser json --write

Release 3.8.3
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

feat: Use native `Promise` instead of RSVP
  README.md
  addon/utils/cognito/associate-software-token.ts
  addon/utils/cognito/authenticate-user.ts
  addon/utils/cognito/get-user-data.ts
  addon/utils/cognito/get-user-session.ts
  addon/utils/cognito/global-sign-out.ts
  addon/utils/cognito/refresh-access-token.ts
  addon/utils/cognito/send-mfa-code.ts
  addon/utils/cognito/set-new-password.ts
  addon/utils/cognito/set-user-mfa-preference.ts
  addon/utils/cognito/trigger-reset-password-mail.ts
  addon/utils/cognito/update-password.ts
  addon/utils/cognito/update-reset-password.ts
  addon/utils/cognito/update-user-attributes.ts
  addon/utils/cognito/verify-software-token.ts
  package.json
  yarn.lock
Due: prettier --parser json --write
